
	.left-panel {
	    padding-top: 5px;
	    flex: 1;
        color: black;
	}

	.right-panel {
	  padding-top: 5px;
	  flex: 1;
	  background-color: #CFD8DC;
	}

	.left-panel label {
	  font-weight: normal;
	}

	.product-header{
		text-align: right;
	}

    .warning{
        color: red;
    }