
	/*.main_load{*/

	/*background-image: "url('../../client/Images/loading.gif')"*/
	/*}*/


	.background{
	background-color: grey;
	}

	.Top{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 3px;
	border-color: red;
	}

	.Bottom{
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-color: red;
	}

	.button{
	float: right;
	margin-right: 2%;
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	}

	.button1{
	float: left;
	margin-right: 2%;
	background-color: #9099a8;
	background-repeat:no-repeat;
	cursor:pointer;
	overflow: hidden;
	/*outline:none;*/
	width: 30%;
	height: 90%;
	border: 4px solid grey;

	}

	.addbar{
	margin-bottom: 5%;
	}


	h3{
	display: inline;
	top: 0%;
	}

	.inputfield{
	color: black;
	background: #ffffff;
	border: solid  black 2px;
	width: 70%;
	padding-left: 5%;
	margin-left: 5%;
	}

	.inputfield:hover{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	color: black;
	border: solid  black 1px;

	}


	.table-dark{
	background: #ffffff;
	width:100%;
	overflow-y: scroll;
	height: 100%;
	opacity: 0.7;
	}

	.table-dark::-webkit-scrollbar {
	width: 1em;
	}

	.table-dark::-webkit-scrollbar-track {
	background-color: #7fb0b7;
	-webkit-box-shadow: inset 0 0 6px #7fb0b7;
	}

	.table-dark::-webkit-scrollbar-thumb {
	background-color: #233e51;
	}
	.table-dark::-webkit-scrollbar-corner{
	background-color: #233e51;
	}


	body {
	background:  #D3D9DF;
	font-family: Roboto, Arial, sans-serif;
	width: 100%;
	height: 100%;
	}


	h1{
	padding-left: 5%;
	margin-top: 5%;
	}

	.header{
	background-color: #90A4AE;
	height:70px;
	text-align: center;
	color: #000000;
	padding-top: 20px;
	}

	.sub-header{
	width: 60%;
	margin-left: 5%;
	margin-right: 5%;
	height: 10%;
	text-align: center;
	padding-left: 3%;
	background-color: #e1e4e7;
	}

	.productpage{
	border: 4px solid grey;
	width: 54%;
	margin-left: 8%;
	margin-right: 7%;
	height: 60%;
	background-color: #9099a8;
	color: #ffffff;
	padding-left: 6%;
	font-size: 18px;
	}
	
	.sidebar{
	width: 540px;
	height: auto;
	margin-left: 25px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: none;
	color: black;
	float: left;
	}

	.productpage-top{
	width: 54%;
	margin-left: 7%;
	margin-right: 7%;
	height: 10%;
	background-color: #9099a8;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	padding-left: 6%;
	}

	.inputfield-signup1{

	border: 0;
	background: transparent;
	border-bottom: 2px solid black;
	color: black;
	width: 50%;
	padding-left: 3%;
	outline: 0;
	outline-color: black;

	}

	.submitbutton{
	margin-right: 40%;
	margin-left: 40%;
	width:20%;
	height: 6%;
	background-color: #004489;
	font-family: Roboto, Arial, sans-serif;
	color: #ffffff;
	font-size: 16px;
	border: solid #1f628d 0px;
	text-decoration: none;
	opacity: 0.6;
	}

	.submitbutton:hover{
	opacity: 0.55;
	}


	.submitbutton1{
	width:28%;
	height: 100%;
	background-color: #004489;
	font-family: Roboto, Arial, sans-serif;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	opacity: 0.6;
	margin-right: 2%;
	margin-left: 2%;
	text-shadow:none;
	box-shadow:none;
	outline:0;
	border: 1px solid blue;
	}

	.submitbutton1:hover{
	opacity: 0.68;
	text-shadow:none;
	box-shadow:none;
	outline:0
	}

	.submitbutton2{
	width:29%;
	height: 30%;
	background-color: #004489;
	font-family: Roboto, Arial, sans-serif;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	opacity: 0.6;
	margin-left: 1%;
	margin-right: 1%;
	text-shadow:none;
	box-shadow:none;
	outline:0;
	border: 1px solid blue;

	}

	.submitbutton3{
	width:40%;
	height: 30%;
	background-color: #004489;
	font-family: Roboto, Arial, sans-serif;
	color: #ffffff;
	font-size: 14px;
	opacity: 0.6;
	text-decoration: none;
	margin-right: 3%;
	margin-top: 3%;
	text-shadow:none;
	box-shadow:none;
	outline:0;
	border: 1px solid blue;
	}

	.submitbutton3:hover{
	opacity: 0.68;
	}


	.submitbutton4{
	width:30%;
	height: auto;
	background-color:rgba(204, 204, 204, 0.6);
	font-family: Roboto, Arial, sans-serif;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	margin-right: 1%;
	margin-bottom: 3%;
	border: none;

	}


	.buttons{
	background-color: transparent;
	width: 30%;
	margin-left: 3%;
	margin-top: 3%;
	border-top:#718f91;
	border-left:#718f91;
	height: 70%;
	text-decoration: none;
	border: none;
	color: blue;
	font-size: 20px;
	border-bottom: 5px;
	}

	.rating{
	padding-top:1px;
	text-align: center;
	opacity: 0.9;
	}

	.buttons1{
	background-color: #878d8d;
	width: 33%;
	border-top:#718f91;
	border-left:#718f91;
	height: 100%;
	}

	.sidebar-bottom{
	height: auto;
	color: black;
	}

	.container{
	margin-left:2%;
	height: auto;
	background-color: none;
	padding: 0%;
	margin-left:14%;
	float: left;
	}


	.image-user{
	height: 100%;
	width: 100%;
	background-size: cover;
	}

	.htmlsrcimage{
	border: 4px solid black;
	height: 40%;
	width: 100%;
	background-color: #000;
	}

	.headerimg{
	background-color: white;
	border-radius: 50%;
	float: right;
	margin-right: 5%;
	}

	.description{
	margin-left: 5%;
	border-radius: 5px;
	height: auto;
	font-size: 20px;
	margin-top: 1%;
	color: black;
	width: 90%;
	padding-right: 4%;
	}

	.code {
	font-size: 15px;
	color: black;
	margin-right: 5px;
	padding-left: 5px;
	margin-top: 2px;
	}
	.Userimage{
	border: 0px solid white;
	width: 50%;
	float: none;
	margin-left: 3%;
	}


	.usercommentname{
	margin-left: 5%;
	text-align: left;
	}

	.usercomments{
	padding-left: 5%;
	text-align: left;
	}

	.Product1{
		width: 100%;
		vertical-align: middle;
		cursor: pointer;
		height: 310px;
	}

	.Product{
		width: 100%;
		vertical-align: middle;
		cursor: pointer;
	}

	.productimage{
		width: 50%;
	}

	.image-part{
		width: 50%;
		border: 10px solid red;
	}

	.text-part{
		float: right;
		width: 50%;
		text-align: center;
		margin-top: 5%;
	}

	.Profiledata{
		text-align: center;
		font-size: 16px;
	}

	.createproduct{
		text-align: center;
		vertical-align: middle;
	}


	@media (min-width : 800px) and (max-width : 1099px) {

	.imagecontainer{
	width: 100%;
	height: 350px;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	}

	.image-user {
	width: 100%;
	height: 100%;
	border: 0px solid white;
	background-size: cover;
	}

	.container{

	margin-left:30px;
	width: 500px;

	}

	.sidebar{
	width: 400px;
	height: auto;
	min-height: 900px;
	float: right;
	}

	}

	@media (min-width : 1100px) and (max-width : 1279px) {
	.imagecontainer{
	width: 100%;
	height: 350px;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	}

	.image-user {
	width: 100%;
	height: 100%;
	border: 0px solid white;
	background-size: cover;
	}

	.container{
	margin-left:2%;
	width: 600px;
	}

	.sidebar{
	width: 430px;
	min-height: 900px;
	}

	}

	@media (min-width : 1280px) and (max-width : 1439px) {
	.imagecontainer{
	width: 100%;
	height: 220px;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	}

	.image-user {
	width: 100%;
	height: 100%;
	border: 0px solid white;
	background-size: cover;
	}

	.container{

	margin-left:3%;
	width: 700px;

	}

	.sidebar{
	width: 490px;
	min-height: 900px;


	}

	}


	@media (min-width : 1440px) and (max-width : 1679px) {
	.imagecontainer{
	width: 100%;
	height: 300px;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	}

	.image-user {
	width: 100%;
	height: 100%;
	border: 0px solid white;
	background-size: cover;
	}

	.container{

	margin-left:4%;
	width: 800px;

	}

	.sidebar{
	width: 520px;
	min-height: 900px;


	}

	}


	@media (min-width : 1680px) and  (max-width : 1919px) {
	.imagecontainer{
	width: 100%;
	height: 280px;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	}

	.image-user {
	width: 100%;
	height: 100%;
	border: 0px solid white;
	background-size: cover;
	}

	.container{

	margin-left:12%;
	width: 830px;

	}

	.sidebar{
	width: 520px;
	min-height: 900px;


	}

	}

	@media (min-width : 1900px) {
	.imagecontainer{
	width: 100%;
	height: 350px;
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	}

	.image-user {
	width: 100%;
	height: 100%;
	border: 0px solid white;
	background-size: cover;
	}

	.container{

	margin-left:15%;
	width: 850px;

	}

	.sidebar{
	width: 550px;
	margin-right: 5%;

	}

	}



