/*.main_load{*/


/*background-image: "url('../../client/Images/loading.gif')"*/


/*}*/

.background {
    overflow: auto;
}

.container-search {
    width: auto;
    /*overflow: auto;*/
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    /*position: absolute;*/
}

.cursor-pointer {
    cursor: pointer;
}

.Top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
    border-color: red;
}

.navbar {
    margin-bottom: 0px;
}

.Bottom {
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: red;
}

.button {
    float: right;
    margin-right: 2%;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.button1 {
    float: left;
    margin-right: 2%;
    background-color: #9099a8;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    /*outline:none;*/
    width: 30%;
    height: 90%;
    border: 4px solid grey;
}

.product-tab {
    display: flex;
    background-color: #F5F5F5;
    min-height: -moz-calc(99% - 120px);
    /* Firefox */
    min-height: -webkit-calc(99% - 120px);
    /* Chrome, Safari */
    min-height: calc(99% - 120px);
}

.product-tab2 {
    display: flex;
    background-color: #F5F5F5;
    min-height: -moz-calc(99% - 160px);
    /* Firefox */
    min-height: -webkit-calc(99% - 160px);
    /* Chrome, Safari */
    min-height: calc(99% - 160px);
}

.product-search {
    width: 300px;
    height: auto;
    margin-left: 10;
    margin-right: 5;
    float: left;
    text-align: center;
    margin-bottom: 15;
}

.search {
    background-color: white;
    color: #000000;
    margin-left: 2px;
    height: auto;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.sort {
    background-color: white;
    color: #000000;
    margin-left: 2px;
    height: auto;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.addbar {
    margin-bottom: 5%;
}

h3 {
    display: inline;
    top: 0%;
}

.inputfield {
    color: black;
    background: #ffffff;
    border: solid black 2px;
    width: 70%;
    padding-left: 5%;
    margin-left: 5%;
}

.inputfield:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    color: black;
    border: solid black 1px;
}

.table-dark {
    background: #ffffff;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    opacity: 0.7;
}

.table-dark::-webkit-scrollbar {
    width: 1em;
}

.table-dark::-webkit-scrollbar-track {
    background-color: #7fb0b7;
    -webkit-box-shadow: inset 0 0 6px #7fb0b7;
}

.table-dark::-webkit-scrollbar-thumb {
    background-color: #233e51;
}

.table-dark::-webkit-scrollbar-corner {
    background-color: #233e51;
}

body {
    background: #002B4E;
    font-family: Roboto, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

h1 {
}

.header {
    background-color: #1A237E;
    height: 70px;
    text-align: center;
    color: #000000;
    padding-top: 20px;
}
.welcome-info{
	margin-top: 30%;
	margin-left: 30%;
	color: #dbd1b4;
}

.welcome-text{
	margin-top: 90px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	color: #fff;
	background: rgba(255, 255, 255, 0.0);
}

.sub-header {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    height: 10%;
    text-align: center;
    padding-left: 3%;
    background-color: #e1e4e7;
}

.productpage {
    border: 4px solid grey;
    width: 54%;
    margin-left: 8%;
    margin-right: 7%;
    height: 60%;
    background-color: #9099a8;
    color: #ffffff;
    padding-left: 6%;
    font-size: 18px;
}

.sidebar {
    width: 540px;
    height: auto;
    margin-left: 25px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: none;
    color: black;
    float: left;
}

.productpage-top {
    width: 54%;
    margin-left: 7%;
    margin-right: 7%;
    height: 10%;
    background-color: #9099a8;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    padding-left: 6%;
}

.inputfield-signup1 {
    border: 0;
    background: transparent;
    border-bottom: 1px solid grey;
    color: black;
    width: 100%;
    outline: 0;
    outline-color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.inputfield-signup2 {
    border: 0;
    background: transparent;
    border-bottom: 2px solid black;
    color: black;
    width: 90%;
    padding-left: 3%;
    outline: 0;
    outline-color: black;
    margin-right: 5%;
}

.submitbutton {
    margin-right: 40%;
    margin-left: 40%;
    width: 20%;
    height: 6%;
    background-color: #004489;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    border: solid #1f628d 0px;
    text-decoration: none;
    opacity: 0.6;
}

.submitbutton:hover {
    opacity: 0.55;
}

.submitbutton1 {
    width: 28%;
    height: 100%;
    background-color: #004489;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.6;
    margin-right: 2%;
    margin-left: 2%;
    text-shadow: none;
    box-shadow: none;
    outline: 0;
    border: 1px solid blue;
}

.submitbutton1:hover {
    opacity: 0.68;
    text-shadow: none;
    box-shadow: none;
    outline: 0
}

.submitbutton2 {
    width: 29%;
    height: 30%;
    background-color: #004489;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.6;
    margin-left: 1%;
    margin-right: 1%;
    text-shadow: none;
    box-shadow: none;
    outline: 0;
    border: 1px solid blue;
}

.submitbutton3 {
    width: 40%;
    height: 30%;
    background-color: #004489;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    opacity: 0.6;
    text-decoration: none;
    margin-right: 3%;
    margin-top: 3%;
    text-shadow: none;
    box-shadow: none;
    outline: 0;
    border: 1px solid blue;
}

.submitbutton3:hover {
    opacity: 0.68;
}

.submitbutton4 {
    width: 30%;
    height: auto;
    background-color: rgba(204, 204, 204, 0.6);
    font-family: Roboto, Arial, sans-serif;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    margin-right: 1%;
    margin-bottom: 3%;
    border: none;
}

.buttons {
    background-color: transparent;
    width: 30%;
    margin-left: 3%;
    margin-top: 3%;
    border-top: #718f91;
    border-left: #718f91;
    height: 70%;
    text-decoration: none;
    border: none;
    color: blue;
    font-size: 20px;
    border-bottom: 5px;
}

.rating {
    padding-top: 1px;
    text-align: center;
    opacity: 0.9;
}

.buttons1 {
    background-color: #878d8d;
    width: 33%;
    border-top: #718f91;
    border-left: #718f91;
    height: 100%;
}

.sidebar-bottom {
    height: auto;
    color: black;
}

.container {
    margin-left: 2%;
    height: auto;
    background-color: none;
    padding: 0%;
    margin-left: 14%;
    float: left;
}

.container2 {
    background-color: none;
    margin-right: 5%;
    margin-left: 5%;
}

.itemCard {
    margin-top: 3%;
    background-color: none;
    width: 350px;
    margin-right: 33%;
    margin-left: 33%;
}

.innerItemCard {
    margin-top: 10px;
    background-color: none;
    margin-right: 8px;
    margin-left: 8px;
}

.image-user {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.htmlsrcimage {
    border: 4px solid black;
    height: 40%;
    width: 100%;
    background-color: #000;
}

.headerimg {
    background-color: white;
    border-radius: 50%;
    float: right;
    margin-right: 5%;
}

.product_image {
    /*border: 2px solid black;*/
    width: 100%;
    height: 180px;
}

.description {
    margin-left: 5%;
    border-radius: 5px;
    height: auto;
    font-size: 20px;
    margin-top: 1%;
    color: black;
    width: 90%;
    padding-right: 4%;
}

.code {
    font-size: 15px;
    color: black;
    margin-right: 5px;
    padding-left: 5px;
    margin-top: 2px;
}

.productdetails{
    cursor: pointer;
}

.loader{
    padding-top: 20%;
    padding-left: 45%;
    padding-right: 45%;
}

.Userimage {
    border: 0px solid white;
    width: 50%;
    float: none;
    margin-left: 3%;
}

.usercommentname {
    margin-left: 5%;
    text-align: left;
}

.usercomments {
    padding-left: 5%;
    text-align: left;
}

.Product1 {
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
    min-height: 350px;
    /*border: 10px solid red;*/
}

.tags {
    margin: 0px 0px 3px 0px;
}

.markdowncode {
    width: 50%;
    vertical-align: middle;
    /*border: 1px solid red;*/
    float: left;
    color: black;
}

.markdowntext {
    width: 50%;
    vertical-align: middle;
    /*border: 10px solid red;*/
    float: right;
    color: black;
    height: -moz-calc(99% - 150px);
    /* Firefox */
    height: -webkit-calc(99% - 150px);
    /* Chrome, Safari */
    height: calc(99% - 150px);
    overflow-y: scroll;
    background-color: white;
}

.Product {
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.productimage {
    width: 50%;
}

.productimage1 {
    width: 50%;
    height: 200px;
}

.image-part {
    width: 50%;
    border: 10px solid red;
}

.text-part {
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 5%;
    /*border: 10px solid red;*/
}

.text-part1 {
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 0%;
    /*border: 10px solid red;*/
}

.Profiledata {
    text-align: center;
    font-size: 16px;
}

.Profiledata1 {
    font-size: 16px;
}

.createproduct {
    text-align: center;
    vertical-align: middle;
}

.productcontainer {
    width: 100%;
    /*border: 10px solid red;*/
    margin-left: 0%;
    margin-right: 0%;
}

.textarea {
    height: -moz-calc(99% - 150px);
    /* Firefox */
    height: -webkit-calc(99% - 150px);
    /* Chrome, Safari */
    height: calc(99% - 150px);
    width: 100%;
    border-style: none;
    border-color: Transparent;
    outline: none;
    resize: none;
    overflow: auto;
    background-color: #F5F5F5;
}

.productdisplayleft {
    padding-top: 9%;
    margin-left: 22%;
    margin-right: 25%;
    width: 55%;
    float: left;
    /*border: 4px solid red;*/
}

.productdisplayleft1 {
    padding-top: 5%;
    width: 50%;
    float: left;
    border: 4px solid red;
}

.productdisplayright {
    padding-top: 5%;
    width: 50%;
    float: right;
    /*border: 4px solid red;*/
    margin: 0px;
}

.productdisplayright1 {
    padding-top: 5%;
    width: 50%;
    float: right;
    border: 4px solid red;
    margin: 0px;
}

.textarea1 {
    outline: none;
    width: 100%;
    margin-top: 15px;
    height: 110px;
}

.usertags {
    width: 100%;
    min-height: 60px;
    height: auto;
}

.ReactTags__tagInput {
    width: 100%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.ReactTags__tagInputField {
    border: 0;
    background: transparent;
    border-bottom: 2px solid black;
    color: black;
    width: 100%;
    padding-left: 3%;
    outline: 0;
    outline-color: black;
    margin-right: 5%;
}

.ReactTags__selected .ReactTags__tag {
    margin-right: 3%;
    margin-left: 3%;
    background-color: grey;
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.ReactTags__selected {
    width: 300px;
}

.ReactTags__remove {
    color: black;
    width: 100%;
}

.ReactTags__suggestions {}

@media (min-width: 800px) and (max-width: 1099px) {
    .container-search {
        width: 100%;
    }
    .imagecontainer {
        width: 100%;
        height: 350px;
        padding: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .image-user {
        width: 100%;
        height: 100%;
        border: 0px solid white;
        background-size: cover;
    }
    .container {
        margin-left: 30px;
        width: 500px;
    }
    .sidebar {
        width: 400px;
        height: auto;
        min-height: 900px;
        float: right;
    }
}

@media (min-width: 1100px) and (max-width: 1279px) {
    .container-search {
        width: 100%;
    }
    .imagecontainer {
        width: 100%;
        height: 350px;
        padding: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .image-user {
        width: 100%;
        height: 100%;
        border: 0px solid white;
        background-size: cover;
    }
    .container {
        margin-left: 2%;
        width: 600px;
    }
    .sidebar {
        width: 430px;
        min-height: 900px;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .container-search {
        width: 100%;
    }
    .imagecontainer {
        width: 100%;
        height: 220px;
        padding: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .image-user {
        width: 100%;
        height: 100%;
        border: 0px solid white;
        background-size: cover;
    }
    .container {
        margin-left: 3%;
        width: 700px;
    }
    .sidebar {
        width: 490px;
        min-height: 900px;
    }
}

@media (min-width: 1440px) and (max-width: 1679px) {
    .container-search {
        width: 1300px;
    }
    .imagecontainer {
        width: 100%;
        height: 300px;
        padding: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .image-user {
        width: 100%;
        height: 100%;
        border: 0px solid white;
        background-size: cover;
    }
    .container {
        margin-left: 4%;
        width: 800px;
    }
    .sidebar {
        width: 520px;
        min-height: 900px;
    }
}

@media (min-width: 1680px) and (max-width: 1919px) {
    .container-search {
        width: 1300px;
    }
    .imagecontainer {
        width: 100%;
        height: 280px;
        padding: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .image-user {
        width: 100%;
        height: 100%;
        border: 0px solid white;
        background-size: cover;
    }
    .container {
        margin-left: 12%;
        width: 830px;
    }
    .sidebar {
        width: 520px;
        min-height: 900px;
    }
}

@media (min-width: 1900px) {
    .container-search {
        width: 1300px;
    }
    .imagecontainer {
        width: 100%;
        height: 350px;
        padding: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .image-user {
        width: 100%;
        height: 100%;
        border: 0px solid white;
        background-size: cover;
    }
    .container {
        margin-left: 15%;
        width: 850px;
    }
    .sidebar {
        width: 550px;
        margin-right: 5%;
    }
}
