
.react-tagsinput {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  display: inline-block;
  position: relative;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.react-tagsinput-input {
  border: none;
  box-shadow: none;
  outline: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto!important;
  max-width: inherit;
  font-size: 14px;
}

.react-tagsinput label {
  display: block;
  line-height: 22px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
  cursor: text;
  transform: scale(0.75) translate(0px, 10px);
  transform-origin: left top 0px;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.298039);
  user-select: none;
}

.react-tagsinput label.dirty {
  color: rgba(0, 0, 0, 0.498039);
}

.react-tagsinput .underline{
  border-top: none rgb(0, 188, 212);
  border-right: none rgb(0, 188, 212);
  border-bottom: 2px solid rgb(0, 188, 212);
  border-left: none rgb(0, 188, 212);
  border-image: initial;
  box-sizing: content-box;
  margin: 3px 0 0 0;
  width: 100%;
  transform: scaleX(0);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.react-tagsinput--focused .underline {
  transform: scaleX(1);
}

.react-tagsinput--focused label {
  color: rgb(0, 188, 212);
}
